/* @media only screen and (max-device-width: 500px) { */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:#000;
}

.background-image-box {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url("/home/alexis/Documentos/site-responsivo/responsivo1/imagens/bg.jpg");

} 

#background-image { 
    width: 99.9%;
    height: 99.9%;
} 

.x {
    margin: 0 auto;
    position: relative;
    /* border: 1px solid #4a2222; */
    width: 100%;
    height: 45px;
    margin-top: -428px;
}

.y {
    position: absolute;
    margin: 0 45%;
    width: 11%;
    height: 41px;
    display: inline-block
}

.subtitle {
    color: white;
    font-size: min(1.125em, 5vw);
    text-align: center;
    position: relative;
    line-height: 10px;
    /* top: -413px; */
}
.subtitle-money {
    color: white;
    text-align: center;
    position: relative;
    /* line-height: 6px; */
    font-size: min(2.5em, 19vw);
    /* top:-409px; */
    margin: -2px auto;
}

span {
    color: #e8a83f;
}

.video-action {
    /* border: 1px solid orange; */
    height: 245px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 4px;
}

.video {
    display: block;
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.button-pay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 280px;
    height: 60px;
    background: #36ff00;
    border-radius: 30px;
    font: 1em "Roboto Mono Bold", sans-serif;
    line-height: 2.25em;
    text-transform: uppercase;
    color: #000;
    box-shadow: 0px 0px 43px rgba(54,255,0,.6), 0px 0px 180px 10px rgb(54,255,0);
    transition: background .3s ease;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    animation: button-grow 2s infinite;
}

@keyframes button-grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.button-pay:hover {
    background-color: #ff7600;
    box-shadow: 0px 0px 43px rgba(255,118,0,.6), 0px 0px 180px 10px rgb(255,118,0);

}

.box-container-mother {
    /* border: 1px solid white; */
    /* height:1656px; */
    margin: 47px 0;
}

i {
    color:white;
}

p#b {
    color: white;
    margin: -16px 0 0 25px;
    line-height: 0.9em;
}

span#b {
    color: white;
}

nav {
    display: flex;
    width: 100%;
    font-size: 19px;
}

ul {
    display: flex;
    margin: 9px auto 82px auto;
}

li {
    padding-right: 56px;
}

.subtitle2 {
    color: white;
    text-align: center;
    font-size: 3em;
}

.itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -5px;
}

.itens li {
    flex: 1 1 380px;
    max-width: 380px;
    margin: 93px 10px 0 10px;
}

.itens li span {
    display: block;
    font: 6.25em "Roboto Mono Regular", sans-serif;
    color: #e8a83f;
    margin: -71px 0 0 14px;
}         
.itens li div {
    border-radius: 10px;
    overflow: hidden;
}

.itens li h3 {
    font: 1.8399999em "Roboto Bold", sans-serif;
    line-height: 1.2em;
    color: #fff;
    margin-top: 2px;
}
/* }------------------------------------------------------------------------------------------------------------------------------------ */

.box-persona {

    padding: 150px 0;
    position: relative;
    background-image: url("imagens/bg2.jpg");
    background-position: 50%;
    background-repeat: no-repeat;

}

.box-persona img {
    align-left: 50px;
}

.container-pain-persona {
    /* border: 1px solid orange; */
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.pains {
    display: flex;
    margin: 0 10px;
    position: relative;
    /* border: 1px solid green; */
}


.in-pain {
    flex: 1;
    padding: 86px 79px;
    border: solid 0.8px #453b2b;
    border-radius: 10px;
    display: block;
}

.pains>.in-pain:first-child {
    border-top-right-radius: 0;
    border-right: none;
    border-bottom-right-radius: 0;
}

.pains>.in-pain:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: solid 0.5px;
    border-color: #453b2b;
}


.dreams {
    list-style:none;
    color: white;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    font-family: monospace;
}

.h-iii {
    font-size: 3em;
    color: #e8a83f;
}

.box-persona .container-pain-persona > .pains::before {
    content: "";
    display: block;
    width: 1px;
    height: 150px;
    background: #453b2b;
    position: absolute;
    left: calc(50% - 1px);
    top: -150px;
}
.box-persona .container-pain-persona > .pains::after {
    content: "";
    display: block;
    width: 1px;
    height: 150px;
    background: #453b2b;
    position: absolute;
    left: calc(50% - 1px);
    bottom: -150px;
}


/*--------------------------------------------------------------------------depositions---------------------------------------------------*/
.depositions1 {
    background-color: #f7fafc;
}

.depositions1 .box1 {
    width: 100%;
    max-width: 1820px;
}

.box1 {

}

.automatic-pilot {
    font: 2.25em "Roboto Bold", sans-serif;
    line-height: 1.333333333333333em;
    text-align: center;
    text-transform: uppercase;
    color: #e8a83f;
    margin: -5px 10px 0 10px;
}

.make-money {
    font: 1.5em "Roboto Mono Regular", sans-serif;
    line-height: 2em;
    text-align: center;
    margin: 0 10px;
}

.depositions1 .itens1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.itens1 {
    font-size: 1em;
    font-weight: 400;
    list-style: none;
}

.depositions1 .itens1 li {
    flex: 1 1 280px;
    max-width: 280px;
    margin: 10px;
}

.itens1 li img {
    border-radius: 10px;
    display: block;
    max-width: 100%;
}
.box-shadow {
}

.itens1 li img {
    overflow: hidden;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0.3s;
}

.itens1 li:hover img {
    /* -moz-transform: scale(1.1); */
    /* -webkit-transform: scale(1.1); */
    /* transform: scale(1.1); */
    box-shadow: 0px 20px 50px 0 rgba(209,215,224,1);
    transform: translate3d(0,-20px,0);
}

.depositions2 {
    padding: 135px 0 354px 0;
    margin: -85px 0 0 0;
    background-color: #f7fafc;
}

.sub-title-depositions {
    font: 1.5em "Roboto Mono Regular", sans-serif;
    line-height: 2em;
    text-align: center;
    margin: 0 10px;
}

.question-title {
    color: #000;
    text-transform: none;
    font: 2.25em "Roboto Bold", sans-serif;
    line-height: 1.333333333333333em;
    text-align: center;
    margin: -5px 10px 0 10px;
    font-weight: bold;
}

.depositions2 .box1  {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.video {
    width: 393px;
    height: 222px;
}

.biography {
    transform: translate3d(0,-253.5px,0);
    position: relative;
}

.box2 {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.biography .box2 .box-of-image:first-child {
    margin: 0 10px;
    display: flex;
    background: #141413;
    border-radius: 10px;
    overflow: hidden;
}

.biography .box2 .box-of-image .text {
    flex: 1 1;
}

.sub-title-mentor {
    font: 1.125em "Roboto Mono Regular", sans-serif;
    line-height: 1.333333333333333em;
    color: #fff;
    text-align: center;
}

.title-mentor {
    font: 2.25em "Roboto Mono Medium", sans-serif;
    line-height: 1.333333333333333em;
    color: #e8a83f;
    margin: 34px 0 36px 0;
    text-align: center;
}

.biography p {
    font: 1.125em "Roboto Mono Regular", sans-serif;
    line-height: 1.333333333333333em;
    color: #fff;
}

.brain {
    background-color: orange;
    width: 86px;
    height: 81px;
    border-radius: 50%;
    position: relative;
    top: 200px;
    left: -43px;
}

.brain-image {
    width: 67px;
    margin: 4px 10px;
    position: fixed;
}

.the-text {
    margin: 53px 49px 0px 49px;
    text-align: justify;
}
/*----------------------------------------------------------------CONTENT(CONTEÚDO)---------------------------------------------------------*/
.content {
    padding-bottom: 140px;
}

.box3 {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.title-content {
    text-transform: uppercase;
    text-align: center;
    margin: -113px 10px 46px 10px;
    font: 3em "Roboto Bold", sans-serif;
    line-height: 1.25em;
    color: #fff;
}

.content .itens2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itens2 {
    font-size: 1em;
    font-weight: 400;
    list-style: none;
    box-sizing: border-box;
}

.itens2 li {
    flex: 1 1 380px;
    max-width: 380px;
    border: 1px solid #453b2b;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 44px 30px 40px 30px;
}

.content .box3 .itens2 li  p {
    text-align: center;
    font: 1em "Roboto Mono Regular", sans-serif;
    line-height: 1.875em;
    color: #fff;
}

.itens2 li span{
    display: block;
    font: 1.125em "Roboto Mono Regular", sans-serif;
    line-height: 1.333333333333333em;
    text-transform: uppercase;
    text-align: center;
    color: #e8a83f;
}

#title3 {
    font: 2.25em "Roboto Mono Regular", sans-serif;
    line-height: 1.333333333333333em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.bonus {
    padding: 136px 0 107px 0;
    border-radius: 100px;
    background: linear-gradient(180deg, #460775, #350780);
    position: relative;
}

.bonus::before {
    content: "";
    display: block;
    width: 100%;
    height: 22px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

.bonus .plus {
    background: #ff0500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 80px;
    height: 80px;
    box-shadow:  0px 0px 43px rgba(255,5,0,.5), 0px 0px 250px 40px rgba(255,5,0,.35);
} 

.container-bonus {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.bonus h2 {
    text-transform: uppercase;
    text-align: center;
    font: 3em "Roboto Bold", sans-serif;
    line-height: 1.25em;
    margin: 0 10px;
    color: #fff;
}

.bonus .itens-of-bonus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 82px;
    font-size: 1em;
    font-weight: 400;
    list-style: none;
    box-sizing: border-box;
}

.bonus .itens-of-bonus li {
    flex: 1 1 380px;
    max-width: 380px;
    border: 1px solid #4d09ba;
    border-radius: 10px;
    margin: 43px 10px;
    padding: 60px 20px 40px 20px;
    position: relative;
}

.bonus .itens-of-bonus li {
    flex: 1 1 380px;
    max-width: 380px;
    border: 1px solid #4d09ba;
    border-radius: 10px;
    margin: 43px 10px;
    padding: 60px 20px 40px 20px;
    position: relative;
}

.bonus .itens-of-bonus li span {
    display: block;
    font: 6.25em "Roboto Mono Regular", sans-serif;
    color: #ff0500;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

.bonus .itens-of-bonus li h3 {
    font: 1.125em "Roboto Bold", sans-serif;
    line-height: 1.333333333333333em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 36px;
}

.bonus .itens-of-bonus li p {
    font: 1em "Roboto Mono Regular", sans-serif;
    line-height: 1.875em;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.bonus h2 span {
    color: #ff0500;
}

.faq {
    background: #fff;
    padding: 136px 0 146px 0;
}

.container-faq {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.faq h2 {
    text-transform: uppercase;
    margin-bottom: 91px;
    text-align: center;
    font: 3em "Roboto Bold", sans-serif;
    line-height: 1.25em;
    margin: 0 10px;
}

.faq .questions-faq {
    margin: 0 10px;
    font-size: 1em;
    font-weight: 400;
    list-style: none;
    box-sizing: border-box;
    display: block;
}

.faq .questions-faq li {
    margin-top: 57px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.faq .questions-faq li h3 {
    font: 1.875em "Roboto Mono Bold", sans-serif;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 19px;
    text-align: center;
}

.faq .questions-faq li p {
    font: 1.125em "Roboto Mono Regular", sans-serif;
    line-height: 1.666666666666667em;
    color: #000;
    text-align: center;
}

.footer {
    box-sizing: border-box;
    display: block;
}

.footer .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px
}

.container-footer {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer p {
    font: .875em "Roboto Mono Regular", sans-serif;
    line-height: 2.142857142857143em;
    text-align: center;
    color: #545454;
    margin: 0 10px;
}

.offer {
    margin-top: -45px;
    padding: 0 0 146px 0;
    box-sizing: border-box;
    display: block;
}

.offer .container-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-offer {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    vertical-align: baseline;
}

.offer h2 {
    text-transform: uppercase;
    text-align: center;
}

.title-offer {
    font: 3em "Roboto Bold", sans-serif;
    line-height: 1.25em;
    margin: 57px 10px;
    color: #fff;
    box-sizing: border-box;
}

.title-offer span {
    color: #e8a83f;

    box-sizing: border-box;
}

.offer .investiment {
    display: flex;
    align-items: center;
    margin: -61px 10px 0 10px;
}

.offer .investiment span {
    display: block;
    font: 4.5em "Roboto Mono Bold", sans-serif;
    line-height: 0.8333333333333333em;
    text-align: right;
    color: #e8a83f;
    margin-right: 27px;
    box-sizing: border-box;
    vertical-align: baseline;
}

.offer .investiment div {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.offer .investiment sup:nth-of-type(1) {
    left: 5px;
}

.offer .investiment sup {
    position: relative;
    top: 2px;
    font: 3em "Roboto Mono Bold", sans-serif;
    color: #fff;
}

.offer .investiment h3 {
    font: 18.75em "Roboto Mono Bold", sans-serif;
    letter-spacing: -0.05em;
    position: relative;
    top: -6px;
    color: #fff;
}

.offer .investiment sup:nth-of-type(2) {
    right: -11px;
}

.offer .container-offer> p {
    font: 1em "Roboto Mono Bold", sans-serif;
    text-transform: uppercase;
    margin: -41px 10px 0 10px;
    color: #fff;
    box-sizing: border-box;
}


.offer .button-pay{
    width: 470px;
    max-width: unset;
}

.offer-image {

}

.offer .pay-forms {
    display: inline-flex;
    position: relative;
    margin: 0 auto;
    list-style: none;
}

.offer .pay-forms li {

}

.offer .warranty p {
    font: 1.125em "Roboto Mono Regular", sans-serif;
    line-height: 1.666666666666667em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

.image-warranty {
    position: relative;
    margin: 0 auto;
    display: block;
}

.doubt {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 150px 0 45px 0;
    background-image: url("imagens/bg3b.jpg");

}

.doubt .doubt-container {
    display: flex;
    position: relative;
}

.doubt-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.doubt .doubt-container div:nth-of-type(1) {
    max-width: none;
}

.doubt .doubt-container div {
    margin: 0 10px;
    box-sizing: border-box;
}

.doubt h2{
    font: 1.875em "Roboto Mono Regular", sans-serif;
    line-height: 1.2em;
    color: #fff;
    text-align: center;
}

.doubt p {
    margin-top: 30px;
    font: 1em "Roboto Mono Regular", sans-serif;
    line-height: 1.875em;
    color: #fff;
    text-align: center;
    font-size: 17px;
}

.doubt .doubt-image {
    display: block;
    max-width: 100%;
}
/*----------------------------------------------------------------@media--------------------------------------------------------------------*/
@media only screen and (max-device-width: 800px) {

    .button-pay {
        max-width: 752px;
        font-size: 47px;
        height: 139px;
        border-radius: 110px;
    }

    .pains {
        display: block;
    }

    .dreams {
        font-size:3em; 
    }

    .iten li :first-child{
        height: 2em;
        width:100%;
    }

    .itens1 li:nth-child(2) {
        display: none;
    }

    .itens1 li:last-child {
        display:none;
    }

    .sub-title-depositions {
        font-size: 70px;
    }

    .question-title {
        font-size: 114px;
    }

    .video {
        width: 650px;
        height:390px;
    }

    .depositions2 .box1 .itens1 li:last-child {
        display: block;
        margin: 445px 0 0 -707px;
    }

    .biography .box2 .box-of-image .text: nth-of-type(2) .box-of-image {
        padding: 75px 45px 75px 45px;
    } 

    .biography .box2 .box-of-image:first-child {
        border-radius: 10px;
        overflow: hidden;
        display: block;
    }

    .motorcyclist {
        width: 100%;
    }

    .biography .box2 .brain{
        margin: 0 auto;
        top: -70px;
        width:140px;
        height: 140px;
    }

    .brain-image {
        width: 120px;
    }

    .content .itens2 {
        flex-wrap: wrap;
        justify-content: center;
        display: block;
        margin: 0 0 0 266px;

    }

    .footer p {
        font-size: 37px;
        color: white; 
    }

    .offer {
        margin-top: -45px;
        padding: 0 0 146px 0;
        box-sizing: border-box;
        display: block;
    }

    .offer .container-offer p {
        text-align: center;
        font-size: 20px;
    }

    .doubt {
        padding: 150px 0 45px 0;
        background-image: url("imagens/bg3b.jpg");
    }

    .offer .button-pay{
        width: 100%;
        max-width: unset;
        height: 174px;
    }

    .offer @media only screen and (max-device-width: 768px) {
        .box-persona {
            width: 100%;
            max-width: unset;
            flex: unset;
        }
    }
    @media only screen and (max-device-width: 375px) {
        .itens li {
            width: 100%;
            max-width: unset;
            flex: unset;
        }

        .itens li img {
            width: 100%;
        }

    }


